 <h1 class="ls-title-intro ls-ico-calendar"><%= t('.title') %></h1>

<div class="ls-alert-danger"><%= alert %></div>
<div class="ls-alert-success"><%= notice %></div>

<% if @periodicity.errors.any? %>
<ul style="list-style-type:none">
  <h4><%= t('.errors_phrase') %>: </h4><br>
  <% @periodicity.errors.full_messages.each do |msg| %>
    <li>- <%= msg %></li>
  <% end %>
</ul>
 <br><br>
 <% end %>

 <%= form_with model: @periodicity, local: true do | form | %>
  <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
  </div>
  <br>
  <div class="ls-modal-footer">
    <%= form.submit class: 'ls-btn-primary' %>
  </div>
 <% end %>