 <h1 class="ls-title-intro ls-ico-calendar"><%= t('.title') %></h1>

<div class="ls-alert-danger"><%= alert %></div>
<div class="ls-alert-success"><%= notice %></div>

<% if @periodicity.errors.any? %>
<ul style="list-style-type:none">
  <h4><%= t('.errors_phrase') %>: </h4><br>
  <% @periodicity.errors.full_messages.each do |msg| %>
    <li>- <%= msg %></li>
  <% end %>
</ul>
 <br><br>
 <% end %>

<button data-ls-module="modal" data-target="#addPeriodicity" 
        class="ls-btn-primary ls-ico-calendar"> <%= t('.add_button') %>
</button>

 <table class="ls-table ls-table-striped">
  <thead>
    <tr>
      <th class="hidden-xs"><%= t('.id_column') %></th>
      <th><%= t('.name_column') %></th>
      <th class="hidden-xs"><%= t('.period_column') %>(<%= t('.sub_text_column_period') %>)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @periodicities.each do | periodicity | %>
    <tr id=<%= "periodicity-#{periodicity.id}" %>>
      <td class="hidden-xs"><%= periodicity.id %></td>
      <td><%= periodicity.name %></td>
      <td class="hidden-xs"><%= periodicity.period %></td>
      <td>
        <%= link_to t('.edit_button'), edit_periodicity_path(periodicity), class: 'ls-btn' %> 
        <%= link_to 'Deletar', periodicity, method: :delete, class: 'ls-btn-primary-danger ls-ico-remove',
                                     data: { confirm: t('.confirmation_deletion') }, placeholder: 'Deletar' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'form_modal' %>